* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #111;
  color: #f4f4f4;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
}
button {
  background-color: #f3f3f3;
  padding: 10px 20px;
  border-radius: 3px;
  outline: none;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
button:hover {
  background-color: #e2e2e2;
}
.cols-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px 30px;
  gap: 20px;
}

.column {
  background-color: #222;
  padding: 15px;
  border-radius: 5px;
  width: 33.3%;
  min-height: 500px;
  transition: all 0.2s ease;
}
.column.drag-over {
  background-color: #2a2a2a;
  border: 2px dashed #555;
  scale: 1.04;
}
.col-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.task {
  background-color: #333;
  padding: 15px;
  border-radius: 3px;
  margin: 10px 0;
  cursor: grab;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(1px);
}
.hidden {
  display: none;
}

.modal-content {
  background-color: #222;
  padding: 20px;
  border-radius: 5px;
  width: 400px;
  position: relative;
}
.modal-content h2 {
  margin-bottom: 10px;
}
.modal-content label {
  display: block;
  margin-bottom: 5px;
}
.modal-content input,
.modal-content textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  border-radius: 3px;
  border: none;
  outline: none;
  background: #333;
  color: #f4f4f4;
}
.modal-content button {
  width: 100%;
}
.close-button {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 24px;
  color: #f4f4f4;
  cursor: pointer;
}

.delete-button {
  background-color: #ff4d4d;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-left: auto;
  display: block;
  margin-top: 10px;
}
.delete-button:hover {
  background-color: #ff1a1a;
}

textarea {
  resize: vertical;
  min-height: 60px;
  max-height: 150px;
}
.task p {
  word-wrap: break-word;
}
.card {
  background-color: #222;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
  width: 380px;
  min-height: 120px;
  border: 1px solid #333;
}
.row{
    overflow: visible;
}
.marque {
  display: flex;
  gap: 10px;
  backface-visibility: hidden;
  will-change: transform;
  animation: left 20s linear infinite;
  width: max-content;
}

@keyframes left {
  0% {
    transform: translateZ(0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}

.marquee-container {
  position: relative;
  max-width: 1200px;
  overflow: hidden;
  margin: auto;
}

.marquee-container::before,
.marquee-container::after {
  content: "";
  position: absolute;
  top: 0;
  width: 80px; /* shadow size */
  height: 100%;
  z-index: 2;
  pointer-events: none;
}

.marquee-container::before {
  left: 0;
  background: linear-gradient(to right, #f0f0f023, transparent);
}

.marquee-container::after {
  right: 0;
  background: linear-gradient(to left, #dddddd6b, transparent);
}
